<div class="menu-item-detail">
    <img src="<%= data.image %>" alt="<%= data.name %>" class="item-image">
    <div class="item-info">
      <h1><%= data.name %></h1>
      <p class="category"><%= data.category %></p>
      <p class="price">₹<%= data.price.toFixed(2) %></p>
      <div class="description">
        <%= data.description %>
      </div>
    </div>
  </div>